<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:cadetblue">
        <div style="font-size:25px;text-align:center;margin-top:8px"><h3>Công cụ chuyển đổi: Speech to Text, Text to Speech [DEMO]</h3></div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color: darkmagenta">&copy; @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year - Mắt Bão CORP</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


